body {
    overflow-x: hidden;
    width: 100vw;
    height: auto;
}

.text {
    font-family: 'Nato';
}
.text2 {
    font-family: 'Roboto';
}

.navbar {
    background: #1E3A8A;
    padding: 0.8rem 1rem;
    font-family: 'Roboto';
}

.navbar a {
    color: #fff !important;
    font-weight: 500;
    transition: color 0.3s ease;
    border: solid gray;
    border-radius: 10px;
    background: transparent;
    padding: 0.5rem 1rem;
}

.navbar a:hover {
    color: #fad87b !important;
    background: #4267cd;
    font-weight: 900;
}

.navbar .container .haui {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 1px;
    border: none;
    background: none;
}

.section-bg-light {
    height: 100vh;
    background: #f8f9fa;
}

.section-bg-navy {
    height: 100vh;
    background:#1E3A8A;
}

.section-bg-dark {
    height: 100vh;
    background: #dee2e6;
}

.hamburger {
    display: none;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    margin-left: 10px;
}

#menu-toggle {
    display: none;
}

@media screen and (max-width: 768px) {
    .nav-links {
        display: none !important;
        flex-direction: row;
        background: linear-gradient(90deg, #01a2ed, #5cc8f9);
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 15px 0;
        text-align: center;
    }

    #menu-toggle:checked + .hamburger + .nav-links {
        display: flex !important;
    }

    .hamburger {
        display: block;
    }

    nav>.container>ul>li:hover {
        background-color: black;
        border-radius: 5px;
    }
}


/* HERO */
.hero {
    min-height: 100vh;
    background: linear-gradient(135deg, #f8f9fa 0%, #e9ecef 100% );
    padding: 60px 0;
}

.hero h1 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #212529;
}

.hero p {
    font-size: 1.2rem;
    color: #555;
    line-height: 1.6;
    font-family: 'Nato';
}

.hero .btn {
    width: 50%;
    background: #1E3A8A !important;
    border-radius: 50px;
    padding: 12px 30px;
    font-weight: 600;
    transition: all 0.3 ease;
}

.hero .btn:hover {
    background: #0b5ed7 !important;
    color: #fff !important;
    transform: translateY(-3px);
    box-shadow: 0px 6px 18px #0d6efd4d;
}

@media screen and (max-width: 992) {
    .hero {
        text-align: center;
    }
    .hero .hero-img {
        margin-top: 30px;
    }
    .hero h1 {
        font-size: 2.2rem;
    }
    .hero p {
        font-size: 1rem;
    }
}

/* ABOUT */
.about {
    background: #f8f9fa;
}

.about span {
    font-size: 1.5rem;
    color: #0dfd2d;
    margin-right: 8px;
}

.section-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1E3A8A;
}

.about h3 {
    font-size: 1.8rem;
    font-family: 600;
    color: #212529;
}

.about p {
    font-size: 1.1rem;
    line-height: 1.7;
    color: #555;
}

.about a {
    background: #0d6efd;
    color: #fff;
    padding: 12px 30px;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 50px;
    text-decoration: none;
    transition: all 0.3s ease;
}

#about .btn {
    color: #fff;
    background: #1E3A8A;
    margin-top: 1rem;
    transform: translateY(-3px);
    box-shadow: 0 6px 18px #0d6efd4d
}

#about .btn:hover {
    color: #fff;
    background: #0b5ed7;
    transform: translateY(-3px);
    box-shadow: 0 6px 18px #0d6efd4d
}

@media screen and (max-width: 768px) {
    #about {
        margin-bottom: 15rem;
    }
}

/* team */
#team {
    width: 100vw;
    height: auto;
}

.course-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #1E3A8A;
}

#team .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    gap: 5rem;
}

.team .card-course {
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-course:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px #00000026;
}

.card-course img {
    width: auto;
    height: 200px;
}

.star {
    display: flex;
    justify-content: flex-end;
}

.button .btn-course {
    background: #1E3A8A;
    color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease;
}

.button .btn-course:hover {
    color: #fff;
    background: #0d6efd;
}

@media screen and (max-width: 768px) {
    #team {
        margin-bottom: 30rem;
    }
    #team .container {
        flex-direction: column;
        align-items: center;
        gap: 3rem;
    }
}

/* service */
.services-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0d6efd;
}

#service {
    background: #f8f9fa;
}

#service .testi-card {
    width: 40rem;
    height: 15rem;
    border: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 12px;
}

#service .testi-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.row .top {
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 15px;
}

.image img {
    width: 50px;
    height: 50px;
    margin-top: 1rem;
}

@media screen and (max-width: 768px) {
    #service {
        margin-bottom: 20rem;
    }
}

/* kontak */
.contact-title {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0d6efd !important;
}

#contact {
    background-color: #f8f9fa;
}

#contact h2 {
    color: #2c3e50;
    font-weight: bold;
}

#contact p {
    font-size: 16px;
    color: #6c757d;
}

#contact i {
    margin-right: 10px;
    font-size: 18px;
}

form .btn-contact {
    background-color: #007bff;
    color: white;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease;
}

form .btn-contact:hover {
    background-color: #0056b3;
    color: #fff;
    transform: translateY(-3px);
}


/* footer */
footer {
    background: #1E3A8A;
    color: #fff;
    text-align: left;
    padding: 20px 0;
    margin-top: 20rem;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 5rem;
}

footer a {
    color: #fff;
    text-decoration: none;
    line-height: 1rem;
    transition: color 0.3s ease;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    margin-bottom: 0;
    font-size: 1rem;
}

.row .btn-foot {
    background: #0d6efd;
    color: #fff;
    padding: 10px 25px;
    border-radius: 30px;
    border: none;
    transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
    .hero {
        margin-top: 5rem;
    }
    #contact .col-md-4 {
        text-align: center;
        margin-bottom: 20px;
    }
    #contact {
        margin-bottom: 20rem;
    }
    footer p {
        margin-bottom: 0;
        font-size: small;
    }
    footer {
    margin-top: 30rem;
    }
}